# Répertoires de dépendances
node_modules/
vendor/

# Fichiers d'environnement
.env
.env.local

# Build outputs | fichier générer automatiquement
/dist/
/build/

# Configuration des IDE
.idea/
.vscode/

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db

# Autres répertoire et fichiers courant
/log/
/tmp/
